@import 'normalize.css';

:root {
  --header-font: 'Chronicle Display A', 'Chronicle Display B';
  --header-font-weight: 600;

  --body-font: 'Ideal Sans A', 'Ideal Sans B';
  --body-font-weight: 400;

  --border: .0625rem solid var(--grey-light);
  --border-radius: .25rem;
  --max-document-width: 70rem;

  --grey-background: rgb(203, 208, 214);
  --grey-light: rgb(155, 155, 155);
}

html {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgb(241, 241, 241), rgb(217, 221, 226));
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  min-height: 100%;
}

header {
  /* background: linear-gradient(to bottom, #fff 60%, rgb(230, 230, 230)); */
  background: #fff;
  border-bottom: .0625rem solid var(--grey-light);
  padding: 2rem;
}

h1 {
  color: #444;
  font-family: var(--header-font);
  font-weight: var(--header-font-weight);
  font-size: 3rem;
  margin: 0 auto;
  max-width: var(--max-document-width);
}

p {
  color: #444;
  font-size: 1.125rem;
}

.empty-list {
  background: #fff;
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 3rem auto;
  max-width: calc(var(--max-document-width) - 2rem);
  padding: 2rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: var(--max-document-width);
}

button,
.button {
  background: #444;
  border: 0;
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  padding: .75rem 1.5rem;
  text-decoration: none;
}

button:hover,
.button:hover {
  background: #555;
}

button:disabled,
.button:disabled {
  cursor: default;
  opacity: .25;
}

form {
  background: #fff;
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 3rem auto;
  max-width: calc(var(--max-document-width) - 2rem);
  padding: 2rem;
}

form label {
  color: #555;
}

form.single-line {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr auto;
}

form.single-line label input {
  border: .25rem solid lightgrey;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: #444;
  display: block;
  font-size: 1.25rem;
  margin-top: .5rem;
  outline: none;
  padding: .5rem .75rem;
  width: 100%;
}

form.single-line .actions {
  align-items: flex-end;
  display: flex;
  padding-bottom: .25rem;
}

form.single-line .actions .button:not(:last-child),
form.single-line .actions button:not(:last-child) {
  margin-right: 1rem;
}
